@model ApplicationCore.Models.UserDetailsModel

@{
    ViewData["Title"] = "Profile";
}
<h3>Profile</h3>
<hr />

<div class="container">
  <div class="row">
    <div class="col">
      Id
    </div>
    <div class="col">
      @Model.Id
    </div>
  </div>
  <div class="row">
    <div class="col">
      First Name
    </div>
    <div class="col">
      @Model.FirstName
    </div>
  </div>
  <div class="row">
    <div class="col">
      Last Name
    </div>
    <div class="col">
      @Model.LastName
    </div>
  </div>
  <div class="row">
    <div class="col">
      Date of Birth
    </div>
    <div class="col">
      @Model.DateOfBirth
    </div>
  </div>
  <div class="row">
    <div class="col">
      Phone Number
    </div>
    <div class="col">
      @Model.PhoneNumber
    </div>
  </div>
</div>